.edit {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-bg {
  background: rgba(0, 0, 0, 0.534);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.edit-content {
  position: relative;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  padding: 30px;
  width: 500px;
  
}
